<!-- <a (click)="showMessage1()">
    <img class="plano1" data-aos="fade-right"
        style="margin-top: 50%;"
        src="../../../../assets/D7/Profe/boton1.gif" />
</a>
<app-message [isVisible]="isVisible1" [messageName]="msgName1" (toDo)="handleOk1()"></app-message> -->


<app-loading [isLoaded]="isLoaded"></app-loading>

<div [@inOutAnimation] class="main-body" [ngStyle]="{'visibility': visible}">
    <div class="scene" style="">
        <img class="fondo " data-aos="fade-right" style="z-index: 3;"
            src="../../../../assets/D7/ir a casa/esc1/esc1.png" />
        <img class="fondo " data-aos="fade-right" style="" src="../../../../assets/D7/ir a casa/esc1/esc1-2.png" />
    </div>

    <div class="scene" style="">
        <img class="fondo " data-aos="fade-right" style="z-index: 3;"
            src="../../../../assets/D7/ir a casa/esc2/esc2-1.gif" />
        <img class="plano1 " data-aos-delay="500" data-aos="fade-right" style=""
            src="../../../../assets/D7/ir a casa/esc2/esc2-txt.gif" />
    </div>



    <div class="scene" style="">
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/Profe/esc6/esc6.gif" />
        <img class="fondo  " data-aos-delay="500" data-aos="fade-right" style=""
            src="../../../../assets/D7/Profe/esc6/esc6-txt.png" />
        <a (click)="insta()">
            <img class="fondo" data-aos="fade-right" style="z-index: 3; margin-top: -34%;"
                src="../../../../assets/D7/Profe/esc6/boton1.gif" />
        </a>
    </div>

    <div class="scene" style="">
        <a (click)="showMessage1()">
            <img class="plano1" data-aos="fade-right" style="   margin-top: 0%; z-index: 10;"
                src="../../../../assets/D7/Profe/esc7/boton2.gif" />
        </a>
        <app-message [isVisible]="isVisible1" [messageName]="msgName1" (toDo)="handleOk1()"></app-message>
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/ir a casa/esc4/esc4.gif" />
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/ir a casa/esc4/esc4-2.png" />
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/ir a casa/esc4/esc4-3.png" />
    </div>

    <div class="scene" style="background-color: white;">
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/Profe/esc8/espacio1.png" />
        <img class="fondo  " data-aos="fade-right" style="background-color: white; margin-top: -1%;margin-bottom: -1%;"
            src="../../../../assets/D7/Profe/esc8/esc8.png" />
        <img class="plano1  " data-aos="fade-right" style=" margin-top: -1%; margin-bottom: -1%;"
            src="../../../../assets/D7/Profe/esc8/txt1.png" />
        <img class="plano1  " data-aos-delay="500" data-aos="fade-right" style=""
            src="../../../../assets/D7/Profe/esc8/txt2.png" />
        <img class="fondo  " data-aos="fade-right" style="margin-bottom: -1%;"
            src="../../../../assets/D7/Profe/esc8/espacio2.png" />
        <a (click)="showMessage2()">
            <img class="fondo msg-ico" data-aos="fade-right"
                style=" z-index: 5; margin-top: -1%; background-color: white;"
                src="../../../../assets/D7/Profe/esc8/boton3.gif" />
        </a>
        <app-message [isVisible]="isVisible2" [messageName]="msgName2" (toDo)="handleOk2()"></app-message>
    </div>


    <div class="scene" style="">
        <img class="fondo  " style="" src="../../../../assets/D7/Profe/esc9/esc9.gif" />
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/Profe/esc9/esc9-txt.png" />
    </div>

    <div class="scene" style="">
        <img class="plano1  " style=" z-index: -1;" src="../../../../assets/D7/Profe/esc10/esc10.png" />
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/Profe/esc10/txt1.png" />
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/Profe/esc10/txt2.png" />
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/Profe/esc10/txt3.png" />
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/Profe/esc10/txt4.png" />
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/Profe/esc10/txt5.png" />
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/Profe/esc10/txt6.png" />
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/Profe/esc10/txt7.png" />
        <img class="fondo  " data-aos="fade-right" style="margin-top: 39.7%;"
            src="../../../../assets/D7/Profe/esc10/esc10-2.png" />
    </div>

    <div class="scene" style="">
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/Profe/esc11/esc11.png" />
        <img class="plano1  " data-aos-delay="500" data-aos="fade-right" style=""
            src="../../../../assets/D7/Profe/esc11/esc11-txt.gif" />
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/Profe/esc11/esc11-espacio.png" />
    </div>

    <div class="scene" style="">
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/Profe/esc12/esc12.gif" />
    </div>

    <div class="scene" style="">
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/Profe/esc13/esc13.png" />
        <img class="plano1  " data-aos-delay="500" data-aos="fade-right" style=""
            src="../../../../assets/D7/Profe/esc13/13-1.png" />
        <img class="plano1  " data-aos-delay="1000" data-aos="fade-right" style=""
            src="../../../../assets/D7/Profe/esc13/13-2.png" />
    </div>

    <div class="scene" style="">
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/Profe/esc14/esc14.png" />
        <img class="plano1  " data-aos-delay="500" data-aos="fade-right" style=""
            src="../../../../assets/D7/Profe/esc14/14-1.png" />
        <img class="plano1  " data-aos-delay="1000" data-aos="fade-right" style=""
            src="../../../../assets/D7/Profe/esc14/14-2.png" />
    </div>

    <div class="scene" style="">
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/Profe/esc15/esc15.png" />
        <a (click)="showMessage3()">
            <img class="fondo msg-ico" data-aos="fade-right" style=" z-index: 5;"
                src="../../../../assets/D7/Profe/esc15/boton4.png" />
        </a>
        <app-message [isVisible]="isVisible3" [messageName]="msgName3" (toDo)="handleOk3()"></app-message>
    </div>

    <div class="scene" style="">
        <img class="fondo  " data-aos="fade-right" style="" src="../../../../assets/D7/Profe/esc16/esc16.gif" />
    </div>

    <div class="scene" style="">
        <img class="fondo  " style="" src="../../../../assets/D7/Profe/esc17/esc17.gif" />
    </div>

    <div class="scene" style="">
        <img class="fondo" style="z-index:4; position: relative; " data-aos="fade-right"
            src="../../../../assets/D7/Profe/medidor.gif" />
        <img class="fondo" style=" z-index:1;" data-aos="fade-right" src="../../../../assets/D7/Profe/pregunta.png" />
    </div>

    <div class="scene" style="margin-top: -1px; ">
        <ul class="centered-ul">
            <div class="button-separation" data-aos="zoom-in" data-aos-anchor-placement="bottom-bottom">
                <button class="button button1" (click)="op1()">Hablo con un <br /> amigo</button>
                <button class="button button1" (click)="op2()">Hablo con un <br /> psicólogo</button>
                <button class="button button1" (click)="op3()">Busco consejos <br /> en internet</button>
            </div>
        </ul>

        <div class="scene" style="height: 9vh; width: 60%; margin: 4vh auto; ">
            <div data-aos="zoom-in" data-aos-anchor-placement="bottom-bottom">
                <nz-progress [nzPercent]="100" [nzStrokeColor]="{'0%': '#081DD1', '100%': '#F40D1E'}" nzStatus="active"
                    [nzShowInfo]=false>
                </nz-progress>
            </div>
        </div>
    </div>
</div>