<nz-modal 
nzWrapClassName="vertical-center-modal"
[(nzVisible)]="isVisible" 
[nzTitle]="modalTitle"
[nzContent]="modalContent"
[nzFooter]="modalFooter"
[nzClosable]=false
[nzMaskClosable]=true
nzWidth=315
>   
<ng-template #modalTitle >
    <div nz-row>   
        <div nz-col nzSpan="5">
            <img class="img-emergente" [src]="icoURL"/>
        </div>

        <!-- fuerza tamaño a 60px y se centra texto en base a eso -->
        <div nz-col nzSpan="19" style="display: table;height: 60px;"> 
            <div *ngIf="mensaje.type!=3" style="display: table-cell; vertical-align: middle;  font-size: 18px; line-height: 23px;" [ngStyle]="{'color': fontTtlColor}">{{headerTxt}} <br> para la salud mental</div>
            <div *ngIf="mensaje.type==3" style="display: table-cell; vertical-align: middle;  font-size: 18px; line-height: 23px;" [ngStyle]="{'color': fontTtlColor}">{{headerTxt}} <br> la salud mental</div>
        </div>
    </div>
</ng-template>

  <ng-template #modalContent >
    <p id="paraFocus" style="font-weight: bold;">{{mensaje.subTitle}}</p>
    <p>{{mensaje.body}}</p>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button style="border-radius: 30px; margin-right: 37%;" 
    [ngStyle]="{'background-color': buttonColor, 'color': fontBtnColor}" (click)="handleOk()">Entiendo</button>
  </ng-template>

</nz-modal>