<app-loading [isLoaded]="isLoaded"></app-loading>
<div [@inOutAnimation] class="main-body" [ngStyle]="{'visibility': visible}">
    <div class="scene" style="">
        <img class="fondo " data-aos="fade-right" style="z-index: 2; "
            src="../../../../assets/D4/Quiero averiguarlo/esc1/esc1.png" />
        <img class="fondo " data-aos="fade-right" style="margin-top: -200px;" data-aos-anchor-placement="top-bottom"
            src="../../../../assets/D4/Quiero averiguarlo/esc1/esc1-2.png" />
        <img class="plano1 " data-aos="fade-right" style=""
            src="../../../../assets/D4/Quiero averiguarlo/esc1/esc1-3.png" />
        <img class="fondo " data-aos="fade-right" style="margin-top: -28%;"
            src="../../../../assets/D4/Quiero averiguarlo/esc1/esc1-4.png" />
    </div>

    <div class="scene" style="margin-top: -5%;">
        <img class="plano1 " style="z-index: -1;" data-aos="fade-right" data-aos-anchor-placement="top-bottom"
            src="../../../../assets/D4/Quiero averiguarlo/esc2/esc2.png" />
        <img class="fondo " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc2/esc2-txt.png" />
        <img class="fondo " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc2/esc2-txt1.png" />
        <img class="fondo " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc2/esc2-txt2.png" />
        <img class="fondo " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc2/esc2-txt3.png" />
        <img class="fondo " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc2/esc2-1.gif" />
    </div>

    <div class="scene" style="margin-top: 3%;">
        <img class="plano1 " style="z-index: -1;" data-aos="fade-right" data-aos-anchor-placement="top-bottom"
            src="../../../../assets/D4/Quiero averiguarlo/esc3/esc3.png" />
        <img class="fondo " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc3/esc3-txt.png" />
        <img class="fondo " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc3/esc3-txt2.png" />
        <img class="fondo " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc3/esc3-txt3.png" />
        <img class="fondo " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc3/esc3-txt4.png" />
        <img class="plano1 " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc3/chica1.gif" />
        <div data-aos="fade-right" >
            <img class="fondo " 
                src="../../../../assets/D4/Quiero averiguarlo/esc3/esc3-txt5.png" />
            <img class="fondo "  src="../../../../assets/D4/Quiero averiguarlo/esc3/esc3-3.gif" />
        </div>
    </div>

    <div class="scene" style="">
        <img class="plano1 " style="z-index: -1;" data-aos="fade-right" data-aos-anchor-placement="top-bottom"
            src="../../../../assets/D4/Quiero averiguarlo/esc4/esc4.gif" />
        <img class="fondo " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc4/esc4-txt.png" />
        <img class="fondo " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc4/esc4-txt2.png" />
        <img class="fondo " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc4/esc4-txt3.png" />
        <img class="fondo " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc4/esc4-txt4.png" />
        <img class="fondo " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc4/esc4-txt5.png" />
    </div>

    <div class="scene" style="    margin-top: 48%;">
        <img class="plano1 " style="z-index: -1;" data-aos="fade-right" data-aos-anchor-placement="top-bottom"
            src="../../../../assets/D4/Quiero averiguarlo/esc5/esc5.png" />
        <img class="fondo " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc5/esc5-txt.png" />
        <img class="fondo " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc5/esc5-txt1.png" />
        <img class="fondo " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc5/esc5-txt2.png" />
        <img class="fondo " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc5/esc5-txt3.png" />
        <img class="fondo " data-aos="fade-right" src="../../../../assets/D4/Quiero averiguarlo/esc5/cora1.gif" />
    </div>
    <div class="scene" style="margin-top: 3%;">
        <img class="plano1" data-aos="fade-right" style="z-index: -1;" data-aos-anchor-placement="top-bottom"
            src="../../../../assets/D4/Quiero averiguarlo/esc6/esc6.png" />
        <img class="fondo" data-aos="fade-right" style="z-index: 2;"
            src="../../../../assets/D4/Quiero averiguarlo/esc6/esc6-txt.png" />
        <img class="fondo" data-aos="fade-right" style="z-index: 2;"
            src="../../../../assets/D4/Quiero averiguarlo/esc6/llave.gif" />
        <img class="fondo" data-aos="fade-right" style="z-index: 2;"
            src="../../../../assets/D4/Quiero averiguarlo/esc6/chica.png" />
    </div>

    <div class="scene" style="">
        <img class="fondo " data-aos="fade-right" style="z-index: 1; "
            data-aos-anchor-placement="top-bottom" src="../../../../assets/D4/Quiero averiguarlo/esc7/esc7.gif" />
        <img class="plano1 " style="" data-aos="fade-right" data-aos-anchor-placement="top-bottom" data-aos-delay="300"
            src="../../../../assets/D4/Quiero averiguarlo/esc7/7txt-1.png" /> 
        <img class="plano1 " style="" data-aos="fade-right" data-aos-anchor-placement="top-bottom" data-aos-delay="600"
            src="../../../../assets/D4/Quiero averiguarlo/esc7/7txt-2.png" />
        <img class="plano1 " style="" data-aos="fade-right" data-aos-anchor-placement="top-bottom" data-aos-delay="900"
            src="../../../../assets/D4/Quiero averiguarlo/esc7/7txt-3.png" />
        <img class="plano1 " style="" data-aos="fade-right" data-aos-anchor-placement="top-bottom" data-aos-delay="1200"
            src="../../../../assets/D4/Quiero averiguarlo/esc7/7txt-4.png" />
    </div>

    <div class="">
        <a (click)="showMessage1()">
            <img class="fondo msg-ico" data-aos="fade-right"
                style="  margin-top: -600px;  position: relative;z-index: 5;"
                src="../../../../assets/D4/Quiero averiguarlo/esc7/boton1.gif" />
        </a>
        <app-message [isVisible]="isVisible1" [messageName]="msgName1" (toDo)="handleOk1()"></app-message>
    </div>

    <div class="scene" style="background-color: white;">
        <img class="fondo" style="z-index:4; position: relative; " data-aos="fade-right"
            src="../../../../assets/D4/Quiero averiguarlo/medidor1.gif" />
    </div>

    <div class="scene" style="margin-top: -1px; background-color: white; ">
        <ul class="centered-ul">
            <div class="button-separation" data-aos="zoom-in" data-aos-anchor-placement="bottom-bottom">
                <button class="button button1" (click)="op1()">Continuar</button>
            </div>
        </ul>

        <div class="scene" style="height: 9vh; width: 60%; margin: 4vh auto; background-color: white;">
            <div data-aos="zoom-in" data-aos-anchor-placement="bottom-bottom">
                <nz-progress [nzPercent]="50" [nzStrokeColor]="{'0%': '#081DD1', '100%': '#9A0A56'}" nzStatus="active"
                    [nzShowInfo]=false>
                </nz-progress>
            </div>
        </div>
    </div>
</div>