<app-loading [isLoaded]="isLoaded"></app-loading>
<div [@inOutAnimation] [ngStyle]="{'visibility': visible}" style="background-color: white;">
    <img class="" style="z-index: 3; width: 100%;position: sticky;top: 0;" src="../../../assets/D7/instaglam/pantalla-fija-croped-header.png" />
    <img class="fondo" style="" src="../../../assets/D7/instaglam/scroll1.png" />
    <img class="fondo" style="" src="../../../assets/D7/instaglam/scroll2.png" />
    <img class="fondo" style="" src="../../../assets/D7/instaglam/scroll3.png" />
    <img class="fondo" style="" src="../../../assets/D7/instaglam/scroll4.png" />
    <ul class="centered-ul" >
        <div class="button-separation" >
            <button class="button button1" (click)="op1()"> < &nbsp;&nbsp; Volver &nbsp;&nbsp;</button>
        </div>
    </ul>
    <img class="" style="z-index: 3; width: 100%; position: sticky;bottom: 0;" src="../../../assets/D7/instaglam/pantalla-fija-croped-footer.png" />
</div>