<div class="main-body">
    <div class="scene">
        <img class="fondo aos-init" data-aos="flip-right" src="../../../assets/D1 -buscar amigos/miercoles.png" />
    </div>

    <div class="scene">
        <img class="plano-fondo aos-init" data-aos="fade-right" style="width:30%; margin-left: 30%;"
            src="../../../assets/D1 -buscar amigos/esc1/1.png" />
        <img class="plano-fondo aos-init" data-aos="fade-left" style="width:15%; margin-left: 52% "
            src="../../../assets/D1 -buscar amigos/esc1/2.png" />
        <img class="plano-fondo aos-init" data-aos="fade-right" style="width:49%; margin-left: 29%"
            src="../../../assets/D1 -buscar amigos/esc1/3.png" />
        <img class="plano-fondo aos-init" data-aos="fade-left" style="width:30%; margin-left: 40%; margin-top: -30%;"
            src="../../../assets/D1 -buscar amigos/esc1/4.png" />
    </div>

    <div class="scene">

        <img class="plano1 aos-init" data-aos="zoom-in" style="width: 100%; margin: 0;"
            src="../../../assets/D1 -buscar amigos/esc1/2d.png" />

        <img class="fondo" src="../../../assets/D1 -buscar amigos/esc1/2d-fondo.png" />

    </div>

    <div class="scene" style="background-color: rgb(255, 166, 2); margin-top: -12%;">
        <img class="plano-fondo aos-init" data-aos="fade-right" style="width:30%; margin-left: 30%;"
            src="../../../assets/D1 -buscar amigos/esc2/5.png" />
        <img class="plano-fondo aos-init" data-aos="fade-left" style="width:30%; margin-left: 42%;"
            src="../../../assets/D1 -buscar amigos/esc2/6.png" />
        <img class="plano-fondo aos-init" data-aos="fade-right" style="width:30%; margin-left: 30%;"
            src="../../../assets/D1 -buscar amigos/esc2/7.png" />
        <img class="plano-fondo aos-init" data-aos="fade-left" style="width:38%; margin-left: 42%;"
            src="../../../assets/D1 -buscar amigos/esc2/8.png" />
        <img class="plano-fondo aos-init" data-aos="fade-right" style="width:45%; margin-left: 30%;"
            src="../../../assets/D1 -buscar amigos/esc2/9.png" />
        <img class="plano-fondo aos-init" data-aos="fade-left" style="width:30%; margin-left: 30%; margin-top: -50%"
            src="../../../assets/D1 -buscar amigos/esc2/10.png" />
    </div>

    <div class="scene" style="background-color: rgb(255, 166, 2); margin-top: -20%;">
        <img class="plano1 aos-init" data-aos="zoom-in" style=" z-index: 1;"
            src="../../../assets/D1 -buscar amigos/esc2/2d-1fondo.png" />
        <img class="plano1 aos-init" data-aos="zoom-in" style=" width: 55%; z-index: 2; margin-top: 5%;"
            src="../../../assets/D1 -buscar amigos/esc2/2d-1izq.png" />
        <img class="plano-fondo aos-init" data-aos="zoom-in" style="width:51%; z-index: 2; margin-left: 45%;"
            src="../../../assets/D1 -buscar amigos/esc2/2d-1dere.png" />
        <img class="plano-fondo aos-init" data-aos="fade-left" style="bottom: 60px; position: relative;"
            src="../../../assets/D1 -buscar amigos/esc3/12.png" />

    </div>
    <div class="scene" style="margin-top: -20%;">

        <img class="plano-fondo aos-init" data-aos="zoom-in" style=" z-index: 1;"
            src="../../../assets/D1 -buscar amigos/esc3/2d-2izq.png" />
        <img class="plano1 aos-init" data-aos="zoom-in" style="z-index: 2; margin-top: 1%;"
            src="../../../assets/D1 -buscar amigos/esc3/2d-2dere.png" />
    </div>

    <div class="scene" style="background-color: rgb(255, 166, 2); margin-top: -5%; padding-bottom: 5%;">
        <img class="plano-fondo aos-init" data-aos="zoom-in" style=" z-index: 1; margin-top: 5%"
            src="../../../assets/D1 -buscar amigos/esc4/2d4.gif" />
    </div>

    <div class="scene" style="background-color: rgb(0, 0, 0); ">
        <img class="plano-fondo aos-init" data-aos="zoom-in" style=" z-index: 1; margin-top: 8%;"
            src="../../../assets/D1 -buscar amigos/esc5/16.png" />
        <img class="plano1 aos-init" data-aos="zoom-in" style="z-index: 2; "
            src="../../../assets/D1 -buscar amigos/esc5/15.png" />
    </div>

    <div class="scene" style="background-color: rgb(0, 0, 0); height: 40vh; ">
        <ul class="centered-ul">
            <div class="aos-init" data-aos="zoom-in" style="width: 65%;" >
                <button mat-raised-button class="button button1" (click)="op1()">Vacilar</button>
            </div>
            <div  class="aos-init" data-aos="zoom-in" style="width: 65%;">
                <button mat-raised-button class="button button1">Beber</button>
            </div>
            <div  class="aos-init" data-aos="zoom-in" style="width: 65%;">
                <button mat-raised-button class="button button1">Ir a hacer la tarea</button>
            </div>
        </ul>
    </div>

</div>
