.button {
    border: none;
    color: white;
    padding: 8px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 30px;
    font-family: 'Muli', sans-serif;
    -webkit-box-shadow: inset 29px 18px 54px -27px rgba(0,0,0,0.21);
    -moz-box-shadow: inset 29px 18px 54px -27px rgba(0,0,0,0.21);
    box-shadow: inset 29px 18px 54px -27px rgba(0,0,0,0.21);
    width: 98%;
}

.button1 {
    background-color: white; 
    color: black; 
    margin-top: 5%;
  }
  
.button1:hover {
    background-color: rgb(255, 166, 2);
    color: black;
}






